


body{
    font-family: "Montserrat Alternates", sans-serif;
    background-color: rgba(26, 11, 46, 1);
}


.navbar{
    display: flex;
    gap: 314px;
    color: aliceblue;
    /* margin: 30px 200px; */
    justify-content: center;
    width: 1600px;
    height: 92px;
    background-color: rgb(19, 1, 53);
}
span{
    background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
ul{
    display: flex;
    gap: 32px;
    list-style: none;
    margin-top: 36px;
}
.nav-btn{
    margin-top: 36px;
    background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d);
    color: aliceblue;
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 10px;
}
.first-bg{
    width: 1600px;
    height: 760px;
    background-image:url("assets/hero-bg.png") ;
    background-repeat: no-repeat;
    padding-top: 101px;
}

 .circle-bg{
    background-image: url("assets/hero-circle.png");
    background-repeat: no-repeat;
    /* padding-top: 101px; */
    width: 380px;
    height: 380px;
    margin: 0px auto;
    margin-left: 625px;
 }
 .circle-icon{
    background-color: rgb(91, 255, 91);
    width: 75px;
    height: 34px;
    margin: 0px auto;
    padding: 1px 16px 8px 16px;
    text-align: center;
    padding-bottom: 50px;
    border-radius: 20px;
    margin-top: -345px;
    margin-left: 252px;
    font-size: 30px;
 }
 img{
    /* margin-top: 200px; */
    margin: 69px 75px 81px 115px;
 }
 .title{
    text-align: center;
    color: aliceblue;
 }
 .secon-btn{
    width: 201px;
    height: 44px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d);
    padding: 12px 20px ;
    color: aliceblue;
 }
.third-btn{
   width: 150px;
    height: 44px;
    border: solid aquamarine;
    border-radius: 10px;
    /* background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d); */
    padding: 12px 20px ;
    color: aquamarine;
    background: transparent;
}
.details{
    max-width: 1600px;
    text-align: center;
    width: 1200px;
    height: 222pxs;
    /* margin: 0px auto; */
    color: aliceblue;
    background-color: rgba(26, 11, 46, 1);
    margin-top: 16px;
    padding: 20px;
    margin-left: 200px;
}
.hr{
    width: 1600px;
    margin-top: 80px;
}
.first-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    max-width: 1600px;
    margin-left: 150px;
    margin-top: 80px;
}
.card-head{
    color: aquamarine;
}
.card-p{
    color: aliceblue;
}