


body{
    font-family: "Montserrat Alternates", sans-serif;
    background-color: rgba(26, 11, 46, 1);
   
}


.navbar{
    display: flex;
    gap: 314px;
    color: aliceblue;
    /* margin: 30px 200px; */
    justify-content: center;
    width: 1600px;
    height: 92px;
    background-color: rgb(19, 1, 53);
}
span{
    background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
ul{
    display: flex;
    gap: 32px;
    list-style: none;
    margin-top: 36px;
}
.nav-btn{
    margin-top: 36px;
    background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d);
    color: aliceblue;
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 10px;
}
.first-bg{
    width: 100%;
    height: 760px;
    background-image:url("assets/hero-bg.png") ;
    background-repeat: no-repeat;
    padding-top: 101px;
    
}

 .circle-bg{
    position: relative;
    background-image: url("assets/hero-circle.png");
    background-repeat: no-repeat;
    /* padding-top: 101px; */
    width: 380px;
    height: 380px;
    margin: 0px auto;
    margin-left: 625px;
    
 }
 .circle-icon{
    background-color: rgb(91, 255, 91);
    width: 75px;
    height: 34px;
    margin: 0px auto;
    padding: 1px 16px 8px 16px;
    text-align: center;
    padding-bottom: 50px;
    border-radius: 20px;
    margin-top: -345px;
    margin-left: 252px;
    font-size: 30px;
 }
 .circle-icon:hover{
    background: linear-gradient(to bottom, #0ffa36, #ff0565, #fda163);
    transform: scale(150%);
    transition: 2s;
    color: aliceblue;
 }
 .first-image{
    /* margin-top: 200px; */
    margin: 69px 75px 81px 115px;
    
 }
 img :hover{

 }
 .title{
    text-align: center;
    color: aliceblue;
 }
 .secon-btn{
    width: 201px;
    height: 44px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d);
    padding: 12px 20px ;
    color: aliceblue;
 }
 .secon-btn:hover{
    background: linear-gradient(to bottom, #f0fa96, #0f7477, #fda163);
    transform: scale(150%);
    transition: 3s;
    
 }
.third-btn{
   width: 150px;
    height: 44px;
    border: solid aquamarine;
    border-radius: 10px;
    /* background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d); */
    padding: 12px 20px ;
    color: aquamarine;
    background: transparent;
}
.details{
    max-width: 1600px;
    text-align: center;
    width: 1200px;
    height: 222pxs;
    /* margin: 0px auto; */
    color: aliceblue;
    background-color: rgba(26, 11, 46, 1);
    margin-top: 16px;
    padding: 20px;
    margin-left: 200px;
}
.hr{
    width: 1600px;
    margin-top: 80px;
}
.first-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    max-width: 1600px;
    margin-left: 150px;
    margin-top: 80px;
    margin-bottom: 120px;
}
.card-head{
    color: aquamarine;
}
.card-p{
    color: aliceblue;
}
.techwava-part{
    width: 1600px;
    height: 1121px;
    /* padding: 120px 200px; */
    background-color: rgba(35, 14, 61, 1);
    
}
.part-of-techwava{
    text-align: center;
    color: aliceblue;
    padding: 120px 200px;
    
}


.Why-choose-techwava{
    text-align: justify;
    /* width: 340px;
    height: 480px; */
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    padding: 40px;


}
.card-2{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

#first-part{
    grid-row: span 2;
}
#second-part{
    grid-column: span 2;
}
#clams{
    grid-column: span 2;
}
#rows{
    grid-column: span 1;
}
#first-part{
    padding-top: 200px;
}
.last-head{
    text-align: center;
    color: aliceblue;
    max-width: 1600px;
    margin-top: 120px;
}

.ifrem{
    width:380px ;
    height: 226px;
    background-color: rgba(37, 13, 68, 1);
    

}
.last-title{
    padding-top: 15px;
    font-size: 1.6em;
}
.last-card{
    max-width: 1600px;
    width: 1200px;
    margin-left: 200px;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.time{
    color: #0ffa36;
}
.profile{
    
    max-width: 1600px;
    width:1200px ;
    height:280px ;
    padding:40px ;
    background-color:rgba(53, 17, 101, 0.4);
    margin-left: 200px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
}
.profile-photo{
    padding-top: 50px;
}
.profile-info{
    color: aliceblue;
    width: 896px;
    height: 183px;
}

.icon{
    display: flex;
    gap: 10px;
}
.footer{
    width:1600px ;
    height:412px ;
    background-image:url("assets/footer-bg.png") ;
    color: aliceblue;
    text-align: center;
    margin-top: 120px;
}
.footer-head{
    padding-top: 120px;
}
.footer-icon{
    display: flex;
    gap: 15px;
    justify-content:center ;
}
.first-bg-div{


}
/* Responsive-part-is-here */
    

    @media screen and (max-width :576px) {
        /* .navbar{
            width: 500px;
        }
        .first-bg{
            width: 500px;
        } */

        .details{
            width: 500px;
            
        }
        .first-card{
            display: grid;
    grid-template-columns: repeat(1, 1fr);
        }
        
        .card-2{

        }
        .last-card{
             display: grid;
    grid-template-columns: repeat(1,1fr);
        }
        .profile{
            width: 100%;
            
        }
        .footer{
            width: 500px;
            margin-left: 200px;
        }
    }

