


body{
    font-family: "Montserrat Alternates", sans-serif;
}


.navbar{
    display: flex;
    gap: 314px;
    color: aliceblue;
    /* margin: 30px 200px; */
    justify-content: center;
    width: 1600px;
    height: 92px;
    background-color: rgb(19, 1, 53);
}
span{
    background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
ul{
    display: flex;
    gap: 32px;
    list-style: none;
    margin-top: 36px;
}
.nav-btn{
    margin-top: 36px;
    background: linear-gradient(to bottom, #9d26ef, #f51d8d, #ff8a3d);
    color: aliceblue;
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 10px;
}
.first-bg{
    width: 1600px;
    height: 760px;
    background-image:url("assets/hero-bg.png") ;
    background-repeat: no-repeat;
    padding-top: 101px;
}

 .circle-bg{
    background-image: url("assets/hero-circle.png");
    background-repeat: no-repeat;
    /* padding-top: 101px; */
    width: 380px;
    height: 380px;
    margin: 0px auto;
    margin-left: 625px;
 }
 img{
    /* margin-top: 200px; */
    margin: 69px 75px 81px 115px;
 }